@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ margin:0; padding:0;font-family: "Microsoft Yahei", "Open Sans", sans-serif;}

a{ text-decoration:none; color:#000; border: 0 none;}
img{ border: 0 none;}
li{ list-style-type:none;}

.header {
    width: 100vw;
    height: 17.5vw;
    background-image: url(../img/header1.png);
    color:#d8af53;
    font-size: 20px;
    background-size: 100%;
}

.header .header-bot {
    width: 100vw;
    height: 70%;
    display: flex;
    
}

.header .header-foot {
    width: 100vw;
    height: 30%;
}

.header .menu{
    display: inline-flex;
    height: 100%;
    width: 25vw;
    line-height: 100%;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}
.header .menu span{
    display: inline-block;
}

.header .menu .menu-ico, .header .menu .menu-title{
    margin:0;
    padding: 0;
}

.header .menu .menu-ico {
    
}
.header .menu .menu-title {
    padding-left: 5px; 
    font-weight: 800;
}

.header .title {
    display: inline-block;
    height:100%;
    width: 55vw;
    padding-left: 18vw; 
    background: url('../img/logo2.png') no-repeat;
    background-size: 20%;
    background-position: 10% bottom;
}

.header .content {
    display: inline-block;
    font-size: 16px;
    width: 78%;
    font-weight: 700;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
}
.header .content span {
    display: inline-block;
    width: 100%;
}


.header .content .title-main {
    display: inline-block;
    height: 70%;
}

.header .title .title-sub {
    position: relative;
    top: -4px;
    font-size: 12px;
    font-weight: 500;
}
/* 
.header .title .title-main, .header .title .title-sub {
    width: 78%;
    font-size: 16px;
}

.header .title .title-main {
    height:70%;
} */


.header .title .line {
    width:1px;
    height:80%;
    margin-top:5%;
    background-color:#fff;
    overflow:hidden;
    display: inline-block;
}


.header .contact-us {
    display: inline-flex;
    height:100%;
    width: 20vw;
    justify-content:center;
    align-items: center;
}

.full{ width:100%;}
.foot_1{width:100%;  height:auto !important;  position:fixed; bottom:0; z-index:99;  }
.foot_1_cm{width:100%;  height:auto !important; margin-bottom: 0 }
.foot_1_cm li{width:20%; height:100%;float:left; position:absolute; top:1rem;}
.foot_1_cm .a2{ left:20%;}
.foot_1_cm .a3{ left:40%;}
.foot_1_cm .a4{ left:60%;}
.foot_1_cm .a5{ left:80%;}
#mian{color:#fff; font-weight:bold;position:absolute; left:91%; top:3px;width:25px; height:19px;background:url(img/renshu.gif) no-repeat; text-align:center; font-size:12px; }
#zaixian{color:#fff; font-weight:bold;position:absolute; left:52%; top:3px;width:25px; height:19px;background:url(img/mian_dong.gif) no-repeat; text-align:center; font-size:12px; }
